name: Reusable Deploy
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the artifact to deploy
        type: string
        required: true
        # required: false
        # default: dist-files
    secrets:
      deploy-version:
        required: true
jobs:
  shared-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls
      - name: Deploy
        run: echo "Deploying version ${{ secrets.deploy-version }}"
